h1 {
  color: goldenrod;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
}

body {
  background: darkgreen;
  text-align: center;
  font-weight: bold;
}

* {
  color: white;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 4px;
  margin-top: 4px;
  border: none;
  border-radius: 2px;
}
